.git*
.idea
.vscode
.editorconfig
.DS_Store

docker-compose.yml

*.html
Results/
*.png
*.log
settings.json
/User_Journeys/output.xml
resources/libraries/__pycache__
output.xml
playwright-log.txt
!API_Keyword_Documentation.html
interactive_console_output.xml
